name: Core and Platform PR checks

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
   - cron: 0 10 * * 1-5

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          # Version range or exact version of a Python version to use, using SemVer's version range syntax.
          python-version: 3.13
          
      - run: pip install requests python-dotenv

      - name: Check Core PRs
        run: python core-prs.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Platform PRs
        run: python platform-prs.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
