name: Core and Platform PR checks

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
   - cron: 0 10 * * 1-5

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13
      - run: pip install requests python-dotenv
      - name: Check Core PRs
        run: python core-prs.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  platform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.13
      - run: pip install requests python-dotenv
      - name: Check Platform PRs
        run: python platform-prs.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
